@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.table-header-item {
  margin: 0;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  word-break: break-all;
  font-weight: 400;
  font-size: 12px;
  box-sizing: border-box;
}

.table-item {
  margin: 0;
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  word-break: break-all;
  font-weight: 400;
  font-size: 12px;
}

.item-name {
  flex: 2;
  justify-content: flex-start;
}

.item {
  flex: 1;
}

.index {
  flex: 0.1;
}
